/* Reset CSS (JANGAN DIHAPUS) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

/* Ketik code Anda di bawah */
.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}
.header-logo{
  font-size: 36px;
  float:left;
  padding: 20px 40px;
}
.menu-list ul{
  float:left;
}
.menu-list li{
  float:left;
  padding: 33px 20px;
}
.top{
  padding: 100px 80px;
}
.top h1{
  font-size: 140px;
}
.top h2{
  font-size: 60px;
}
.top span{
  color: #ff4a4a;
}